html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden!important;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(55, 72, 96);
  width: 100%!important;
  font-size: 1.7rem;
  position: relative;
  margin: 0;
  overflow-x: hidden!important;
}
body.noscroll {
  overflow: auto!important;
  position: fixed;
}
h1 {
  font-size: 4rem;

  @include mobile-tiny {
    font-size: 3rem;
  }
  @include tablet {
    font-size: 5rem;
  }
}
